body, html {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
  margin: 0;
}
paper-card {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 1;
}
paper-card.featuresPanel {
  top: 50px;
}
paper-card.blue {
  background: white;/*linear-gradient(white, #107db4);*/
}
paper-item {
  border-bottom: 1px solid #DDD;
}
paper-tab iron-icon {
  margin-right: 10px;
}
paper-tab.iron-selected {
  background: rgb(66, 133, 244);
  color: white;
}
paper-button {
  cursor:pointer;
}
paper-listbox paper-item {
  cursor:pointer;
}
iron-icon {
  margin-right:10px;
}
.blue .paper-header {
  background-color:#107db4;
  color:#EFEFEF;
}
.content {
  margin-left:20px;
  height:100%;
}
.paper-header {
  font-size: 18pt;
  padding: 0 10px;
  color: white;
  transition: height 0.2s;
}
.buttonSm {
  font-size: 10pt;
}
.headerSm {
  line-height: 12px;
}
.headerNormal {
  line-height: 120px;
  font-weight: bold;
  font-size: 18pt;
}
.textLg {
  font-size: 16pt;
  font-weight: bold;
  color: #107db4;
}
paper-listbox paper-item.bigLine {
  line-height: 80px;
}
.mediumLine {
  line-height: 60px;
}